@font-face
{
    font-family: 'raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face
{    
    font-family: 'raleway-bold';
    src: url(fonts/Raleway/Raleway-Bold.ttf);    
}


body
{
    font-family: 'raleway',sherif;
    margin: auto;
    width: 1340px;
    margin-top: 5px;
}

a:link
{
    text-decoration: none;
}

.logo 
{
    flex-grow: 1;
}

.logo_reservia
{
    width: 92px;        
}

header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
   
}

header nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#hebergement, #activites
{
    text-decoration: none;
    color: black;
    height: 20px;
    align-items: center;
   
   
}

#hebergement
{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 18px;
   
}

#activites
{
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 18px;
   
}

#hebergement:hover, #activites:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

#inscription
{
    padding-top: 23px;
    color: #0065fc;
    font-family: 'raleway-bold','raleway',serif;
}

#titre
{
    font-size: 22px;
    font-family: 'raleway-bold','raleway',serif;
   
}

#titre + h2
{
    font-size: 1em;
    font-family: 'Raleway', serif;
}

#zone_rechercher
{
    display: flex;
    max-width: 600px;
    height: 50px;
    align-items: center;
    padding-bottom: 0px;
    margin-top: 30px;
}

span
{
    margin-left: 0px;
    font-size: 17px;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 18px 15px 18px;
    background-color: #f2f2f2;
}

.rechercher
{
    border: none;
    font-size: 1.1em;
    font-family: 'raleway-bold',raleway,serif;
    text-align: left;
    width: 215px;
    margin-left: 0px;
    padding-left: 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    height: 46px;
}

.bouton_rechercher
{
    border: none;
    background-color:#0065fc;
    font-family: 'raleway-bold',raleway,serif;
    font-size: 1.1em;
    color: white;
    height: 50px;
    width: 135px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bouton_rechercher_2
{
    border: none;
    background-color:#0065fc;
    font-family: 'raleway-bold',raleway,serif;
    font-size: 1.1em;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: none;
}

#zone_filtre
{
    display: flex;
    margin-top: 40px;
    margin-left: 7px;
}

#titre_filtre
{ 
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
    margin-right: 32px;
}

#economique, #familiale, #romantique, #animaux
{
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
}

#decoupage
{
    display: flex;
}

#economique
{
    width: 190px;
    margin-right: 24px;
}

#familiale
{
    width: 147px;
    margin-right: 24px;
}

#romantique
{
    width: 180px;
    margin-right: 24px;
}

#animaux
{
    width: 238px;
}

strong  i
{
    border: 1px solid #deebff;
    background-color: #deebff;
    height: 31px;
    width: 45px;
    font-size: 1.3em;
    color: #0065fc;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 35px;
}

em
{
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 13px;
    font-family: 'raleway-bold','raleway,serif';
    font-style: normal;
    font-size: 1.1em;  
}

strong :hover
{
    background-color: #0065fc;
    color: #deebff;
}

#infos
{
    display: flex;
    margin-top: 17px;
    width: 500px;
    padding-bottom: 20px;
}

#texte_infos
{
    display: flex;
    align-items: center;
}

#infos i
{
    margin-left: 7px;
    margin-right: 10px;
    border: 1px solid #deebff;
    border-radius: 13px;
    width: 14px;
    height: 25px;
    padding-left: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8em;
    color:#0065fc
}

/*  --------   zone "Hebergements à marseille"   ----------- */

#Hebergements
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.4em;
    padding-left:38px ;
}

#Hebergement_a_marseille
{
    flex: 2;
    
    padding-top: 25px;
    
    margin-left: 0px;
    border-radius: 20px;
    
    background-color: #f2f2f2;
}

.nom_hotel
{
    color: black;
    padding-left:13px;
    font-family:'raleway-bold','raleway',serif;
    font-size: 1em;
    margin-top: 5px;
}

.tarif
{
    color: black;
    padding-left: 13px;
    margin-top: -31px;
    margin-bottom: 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
}


.image_cannebiere
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
    background-image:url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.image_port
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image:url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.image_mouettes
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image:url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.image_hotel_mer
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image:url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.image_panier
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image:url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.image_amina
{
    display: flex;
    background-size: cover;
    background-position: center;
   
    display: block;
    width: 240px;
    
    height: 112px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image:url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

#ligne1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 29px;   
    
}

#ligne1 div, #ligne2 div
{
    border: 2px solid white;
    background-color: white;
}

.pastille
{
    border-radius: 25px;
    box-shadow: 5px 5px 15px #d6d5d5;
    
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.pastille strong
{
    font-family: 'raleway-bold','raleway',serif;
}

#ligne1 a, #ligne2 a
{
    color:#0065fc;
    font-style: normal;
}

.tarif p
{
    color: #0065fc;
}

.etoiles
{
    font-size: 0.8em;
    margin-top: -20px;
    
    max-width: 100%;
    margin-left: 13px;
   


}

#ligne1 mark, #ligne2 mark
{
    font-style: normal;
    color: #f2f2f2;
    background-color: white;
    font-size: 1em;
}

#ligne2
{
    display: flex;
    justify-content: space-around;
   
}

#lien_afficher_plus a
{
    margin-left: 36px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
   
}
#zone_tout_hebergement
{
    display: flex;
    flex-direction: row;
}
/* ---------------- partie "les plus populaires" ----------------- */

aside
{    
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 625px;
    margin-left: 43px;
    padding-left: 35px;  
    padding-right: 43px; 
    padding-top: 8px;
   flex: 1;
}

.pastille_2
{    
    display: flex;
    /*width: 345px;*/
    /*height: 144px;*/
    max-width: 100%;
    flex-wrap: wrap;
    border: 4px solid white;
    border-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    margin-bottom: 22px;
    box-shadow: 5px 5px 15px #d6d5d5;

}

.pastille_2 strong
{
    font-family: 'raleway-bold','raleway',serif;
}

.pastille_2 a:first-child {
    display: flex;
}


.image_soleil_matin
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    background-position: center;
    width: 131px;
    height: 144px;
    background-image:url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.image_coeur_eau
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    background-position: center;
    width: 131px;
    height: 144px;
    background-image:url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.image_bleu_blanc
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    background-position: center;
    width: 131px;
    height: 144px;
    background-image:url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.tarif_2 p
{
    color: #0065fc;    
}

.tarif_2
{
    color: black;
    padding-left: 13px;
    margin-top: -28px;
    margin-bottom: 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.nom_hotel_2
{
    color: black;
    padding-left:13px;
    font-family:'raleway-bold','raleway',serif;
    font-size: 1em;
}

.etoiles_2
{
    font-size: 0.8em;
    color: #0065fc;
    padding-left: 13px;
}

#les_plus_populaires mark
{
    font-style: normal;
    color: #f2f2f2;
    background-color: white;
    font-size: 0.8em;
}

#les_plus_populaires a
{
    color:#0065fc;
    font-style: normal;
}

#les_plus_populaires h3
{
    text-align: left;
    margin-top: 40px;
    
    
    
}

aside h3
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.4em;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  -----------------activités à marseille------------------    */

#activites_a_marseille
{
    margin-top: 53px;
    margin-left: 0px;
}

#activites_titre
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.3em;
    margin-bottom: 23px;
}

#activites_images
{
    display: flex;
    justify-content: space-between;
  
}

.nom_activites
{
    
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1em;
    color: black;
    margin-left: 15px;
}

#vieux_port
{
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}

.image_vieux_port
{
    background-size: cover;
    background-position: center;
    width: 297px;
 
  height: 90%;
  display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image:url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
   
}
#fort
{
    height: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}


.image_pomegues
{
    background-size: cover;
    background-position: center;
    width: 297px;
  
    height: 80%;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
   background-image:url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
#frioul
{
    margin-top: 20px;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}
.image_frioul
{
    background-size: cover;
    background-position: center;
    width: 297px;
    height: 73%;
  display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image:url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
#calanques
{
   
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}
.image_calanques
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 90%;
  display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image:url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
#notre_dame
{
    height: 45%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}
.image_notre_dame
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 79%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image:url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
#longchamp
{
    margin-top: 20px;
    height: 45%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
    padding-bottom: 10px;
}
.image_longchamp
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 79%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image:url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
#colonne_2, #colonne_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 434px;
}

/*  ---------------------footer-----------------------  */

footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    height: 200px;
    margin-left: -40px;
    padding-left: 40px;
    margin-top: 65px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 103%;
}

h3
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
}

footer a
{
    text-decoration: none;
    color: black;
}

#a_propos
{
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    color: black;
    height: 150px;
    font-style: normal;
    margin-right: 200px;
}

#nos_hebergements
{
    display: flex;
    flex-direction: column;
    height: 150px;
    line-height: 1.2em;
    color: black;
    margin-right: 200px;
}

#assistance
{
    display: flex;
    flex-direction: column;
    color: black;
    height: 150px;
    line-height: 1.2em;
}


/*---------------------Responsive--------------------*/

@media only screen and (max-width: 600px) 
{
   
    header {

        justify-content: space-between;
        flex-wrap: wrap;
        
        
    }
    .logo_reservia 
    {
        order: 1;
        
      
        width: 35%;
    }

    .logo{
        padding-top: 5px;
        margin-left: 25px;
        width: 50%;
       
        
        
    }
    
    header nav 
    {
        margin-top: 25px;
        margin-bottom: 25px;
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   
    
    header .inscription {
        order: 2;
        width: 50%;
        padding-top: 35px;
      
    }
 
    body
    {
        width: auto;
    }
    
          
    #hebergement
    {
      text-align: center;
       padding-bottom: 15px;
        border-bottom: 3px solid #f2f2f2;
        width: 50%;
       padding-left: 0px;
       padding-right: 0px;
    }

    #activites
    {
        text-align: center;
      
       
       padding-right: 0px;
       padding-left: 0px;
        padding-bottom: 15px;
        border-bottom: 3px solid #f2f2f2;
        width: 50%;
       
    }
    
    #inscription
    {
        margin-right: 20px;
    }
    
    #hebergement:hover, #activites:hover
    {
        border-bottom: 3px solid #0065fc;
        border-top: white;
        color: #0065fc;
       
    }
    
    #titre
    {
        text-align: left;
        margin-left: 15px;
       max-width: 95%;
    }
    #titre + h2
    {
        margin-left: 15px;
        max-width: 100%;
    }
    #zone_rechercher
    {
        margin-left: 15px;
    }
    .bouton_rechercher
    {
        width: 50px;
        border-radius: 15px;
        display: none;
    }
    
    .bouton_rechercher_2
    {
        display: inline;
    }

    #zone_filtre
    {
      
        flex-direction: column;
        text-align: justify;
        margin-left: 15px;
    }
    
    #infos
    {
        max-width: 90%;
        text-align: justify;
        padding-right: 15px;
    }
   
    #zone_tout_hebergement
    {
        display: flex;
        flex-direction: column-reverse;
    }
    
    aside
    {     
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        margin-left: 0px;  
        margin-right: 0px;
        max-width: 100%;
        border-radius: 0;
      
    }    
    
    #Hebergement_a_marseille
    {
        background-color: white;
        max-width: 100%;
        padding-top: 10px;
    }
    
    

    #ligne1
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #ligne2
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
        margin-top: -25px;
    }

    .pastille
    {
        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
     
    .pastille a
    {
         
         width: 100%;
    }

    
    .image_cannebiere
    {
        width: 99%;     
        margin-bottom: 0px;  
        padding-right: 0px; 
    }
  .image_port
  {
    width: 99%;     
    margin-bottom: 0px;  
    padding-right: 0px; 
  }
  .image_mouettes
  {
    width: 99%;     
    margin-bottom: 0px;  
    padding-right: 0px; 
  }
  .image_hotel_mer
  {
    width: 99%;     
    margin-bottom: 0px;  
    padding-right: 0px; 
  }
  .image_panier
  {
    width: 99%;     
    margin-bottom: 0px;  
    padding-right: 0px; 
  }

  .image_amina
  {
    width: 99%;     
    margin-bottom: 0px;  
    padding-right: 0px; 
  }

#vieux_port div, #fort div, #frioul div, #calanques div, #notre_dame div, #longchamp div
{
    width: 100%;
        display: block;
       
        height: 80%;
        margin-bottom: 0px;   
        padding-right: 0px;
        padding-top: 0px;
        background-size: cover;
        background-position: center;
}
#calanques
{
    padding-top: 30px;
}
    
    #vieux_port , #fort , #frioul , #calanques , #notre_dame , #longchamp 
    {
        display: block;
        height: 180px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    #activites_a_marseille
    {
        margin-left: 0px;
        max-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
       
    }
    
    #activites_images
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1300px;
    } 
    
    
      
    footer
    {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-left: 60px;
        height: auto;
    } 
    
    #a_propos, #nos_hebergements, #assistance
    {
        
        
       width: 100%;
        height: auto;
        margin-bottom: 20px;
        
    }
}
