@font-face
{
    font-family: 'raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face
{    
    font-family: 'raleway-bold';
    src: url(fonts/Raleway/Raleway-Bold.ttf);    
}

body
{
    font-family: raleway,sherif;
    margin-left: 55px;
    width: 1340px;
}

#logo_menuvav
{
    display: flex;
    justify-content:space-between ;
    position: relative;
    left: -40px;
    top: 20px;
    align-items:space-between;
    padding-bottom: 25px;
}

nav
{
    display: flex;
    justify-content:space-around;
    font-size: 16px;
    width: 440px;  
    height: 50px;
    position: relative;
    right: -40px;
    top: 20px;
}

nav a
{
    text-decoration: none;
    color: black;

}

nav+p
{
    text-align: end;
}

#hebergement:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top:15px;
}

#activites:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top:15px;
}

#inscription
{
    color: #0065fc;
    font-family: 'raleway-bold','raleway',serif;
}

#titre
{
    font-size: 22px;
    font-family: 'raleway-bold', raleway,serif;
    margin-bottom: -5px;
    width: 800px;
}

#titre + h2
{
    font-size: 1em;
    width: 500px;
}

#zone_rechercher
{
    display: flex;
    max-width: 600px;
    height: 50px;
    align-items: center;
    padding-bottom: 0px;
    
    margin-top: 30px;
}

span
{
    margin-left: 0px;
    font-size: 17px;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 18px 15px 18px;
    background-color: #f2f2f2;
}

.rechercher
{
    border: none;
    font-size: 1.1em;
    font-family: 'raleway-bold',raleway,serif;
    text-align: left;
    width: 215px;
    margin-left: 0px;
    padding-left: 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    height: 46px;
}

.bouton_rechercher
{
    border: none;
    background-color:#0065fc;
    font-family: 'raleway-bold',raleway,serif;
    font-size: 1.1em;
    color: white;
    height: 50px;
    width: 135px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#zone_filtre
{
    display: flex;
    margin-top: 40px;
    margin-left: 7px;
}
#titre_filtre
{ 
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
    margin-right: 32px;
}
#economique, #familiale, #romantique, #animaux
{
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
}
#economique
{
    width: 190px;
    margin-right: 24px;
}

#familiale
{
    width: 147px;
    margin-right: 24px;
}

#romantique
{
    width: 180px;
    margin-right: 24px;
}

#animaux
{
    width: 238px;
}


strong  i
{
    border: 1px solid #deebff;
    background-color: #deebff;
    height: 31px;
    width: 45px;
    font-size: 1.3em;
    color: #0065fc;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    
}
em
{
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 13px;
    font-family: 'raleway-bold','raleway,serif';
    font-style: normal;
    font-size: 1.1em;  
}

strong :hover
{
    background-color: #0065fc;
    color: #deebff;
}

#infos
{
    display: flex;
    margin-top: 25px;
}

#infos i
{
    margin-right: 20px;
    border: 1px solid #deebff;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    font-size: 1em;
    color:#0065fc
}

#Hébergements
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.3em;
}

section
{
    margin-left: 40px;
}

#Hebergement_a_marseille
{
    border: 1px solid black;
    width: 900px;
    
}

.image
{
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 120px;
    
    
}

#ligne1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

#ligne1 div
{
    border: 1px solid black;
}

#ligne2
{
    display: flex;
    justify-content: space-around;
}

#ligne2 div
{
    border: 1px solid black;
}

