@font-face
{
    font-family: 'raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face
{    
    font-family: 'raleway-bold';
    src: url(fonts/Raleway/Raleway-Bold.ttf);    
}
body
{
    font-family: 'raleway',sherif;
    margin: auto;
    width: 1340px;
}

a:link
{
    text-decoration: none;
}

/*  CODE CSS POUR LE HEADER */

.logo_reservia
{
    margin-left: 0px;
    width: 92px;        
}

#logo_menunav
{
    display: flex;
    justify-content:space-between ;  
    align-items: center; 
    position: relative;
    align-items:space-between;
    height: 100px;
}

nav
{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1em;
    width: 620px;  
    height: 25px;
}

nav a
{
    text-decoration: none;
    color: black;
}

nav+p
{
    text-align: end;
}

#hebergement
{
    padding-right: 35px;
    padding-left: 35px;
}

#activites
{
    padding-right: 50px;
    padding-left: 50px;
}

#hebergement:hover, #activites:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top:15px;
}

#inscription
{
    color: #0065fc;
    font-family: 'raleway-bold','raleway',serif;
}

#titre
{
    font-size: 22px;
    font-family: 'raleway-bold','raleway',serif;
    margin-top: auto;
    width: 600px;
}

#titre + h2
{
    font-size: 1em;
    width: 500px;
    font-family: 'Raleway', serif;
}

#zone_rechercher
{
    display: flex;
    max-width: 600px;
    height: 50px;
    align-items: center;
    padding-bottom: 0px;
    margin-top: 30px;
}

span
{
    margin-left: 0px;
    font-size: 17px;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 18px 15px 18px;
    background-color: #f2f2f2;
}

.rechercher
{
    border: none;
    font-size: 1.1em;
    font-family: 'raleway-bold',raleway,serif;
    text-align: left;
    width: 215px;
    margin-left: 0px;
    padding-left: 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    height: 46px;
}

.bouton_rechercher
{
    border: none;
    background-color:#0065fc;
    font-family: 'raleway-bold',raleway,serif;
    font-size: 1.1em;
    color: white;
    height: 50px;
    width: 135px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bouton_rechercher_2
{
    border: none;
    background-color:#0065fc;
    font-family: 'raleway-bold',raleway,serif;
    font-size: 1.1em;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: none;
}

#zone_filtre
{
    display: flex;
    margin-top: 40px;
    margin-left: 7px;
}

#titre_filtre
{ 
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
    margin-right: 32px;
}

#economique, #familiale, #romantique, #animaux
{
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
}

#decoupage
{
    display: flex;
}

#economique
{
    width: 190px;
    margin-right: 24px;
}

#familiale
{
    width: 147px;
    margin-right: 24px;
}

#romantique
{
    width: 180px;
    margin-right: 24px;
}

#animaux
{
    width: 238px;
}

strong  i
{
    border: 1px solid #deebff;
    background-color: #deebff;
    height: 31px;
    width: 45px;
    font-size: 1.3em;
    color: #0065fc;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 35px;
}

em
{
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 13px;
    font-family: 'raleway-bold','raleway,serif';
    font-style: normal;
    font-size: 1.1em;  
}

strong :hover
{
    background-color: #0065fc;
    color: #deebff;
}

#infos
{
    display: flex;
    margin-top: 17px;
    width: 500px;
    padding-bottom: 20px;
}

#texte_infos
{
    display: flex;
    align-items: center;
}

#infos i
{
    margin-left: 7px;
    margin-right: 10px;
    border: 1px solid #deebff;
    border-radius: 13px;
    width: 14px;
    height: 25px;
    padding-left: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8em;
    color:#0065fc
}

/*  zone "Hebergements à marseille"     */



#Hebergements
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.4em;
    padding-left:38px ;
}

section
{
    margin-left: 40px;
}

#Hebergement_a_marseille
{
    padding-top: 25px;
    margin-left: 0px;
    border-radius: 20px;
    width: 870px;
    height: 600px;
    background-color: #f2f2f2;
}

.nom_hotel
{
    color: black;
    padding-left:13px;
    font-family:'raleway-bold','raleway',serif;
    font-size: 1em;
    margin-top: 5px;
}

.tarif
{
    
    color: black;
    padding-left: 13px;
    margin-top: -31px;
    margin-bottom: 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.image
{
    
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 112px;
    margin-bottom: 0px;   
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#ligne1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 29px;   
    padding-left: 15px;
    padding-right: 15px;
}

#ligne1 div, #ligne1 div
{
    border: 2px solid white;
    background-color: white;
}

.pastille
{
    border-radius: 25px;
    box-shadow: 5px 5px 15px #d6d5d5;
    height: 192px;
}

.pastille strong
{
    font-family: 'raleway-bold','raleway',serif;
}

#ligne1 a, #ligne2 a
{
    color:#0065fc;
    font-style: normal;
}

.tarif p
{
    color: #0065fc;
}

.etoiles
{
    font-size: 0.8em;
    margin-top: -20px;
    width: 100px;
    margin-left: 13px;
    margin-top: -14px;
}

#ligne1 mark, #ligne2 mark
{
    font-style: normal;
    color: #f2f2f2;
    background-color: white;
    font-size: 1em;
}

#ligne2
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;   
    padding-left: 15px;
    padding-right: 15px;
}

#lien_afficher_plus a
{
    margin-left: 36px;
    text-decoration: none;
    color: black;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
}
#test
{
    display: flex;
}

/*  partie "les plus populaires"    */

section
{
    display: flex;
}

aside
{    
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 382px;
    height: 625px;
    margin-left: 43px;
    padding-left: 35px;   
    padding-top: 8px;
}

.pastille_2
{    
    display: flex;
    width: 345px;
    height: 144px;
    flex-wrap: wrap;
    border: 4px solid white;
    border-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    margin-bottom: 22px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

.pastille_2 strong
{
    font-family: 'raleway-bold','raleway',serif;
}

.image_2
{
    float: left;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    background-position: center;
    width: 131px;
    height: 144px;
}

.tarif_2 p
{
    color: #0065fc;    
}

.tarif_2
{
    color: black;
    padding-left: 13px;
    margin-top: -28px;
    margin-bottom: 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
    position: relative;
    left: 21px;
}

.nom_hotel_2
{
    color: black;
    padding-left:13px;
    font-family:'raleway-bold','raleway',serif;
    font-size: 1em;
    width: 370px;
    position: relative;
    left: 21px;
}

.etoiles_2
{
    font-size: 0.8em;
    position: relative;
    left: 21px;
    color: #0065fc;
}

#les_plus_populaires mark
{
    font-style: normal;
    color: #f2f2f2;
    background-color: white;
    font-size: 0.8em;
}

#les_plus_populaires a
{
    color:#0065fc;
    font-style: normal;
}

#les_plus_populaires h3
{
    text-align: left;
    margin-top: 40px;
    width: 350px;
}

aside h3
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.4em;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  activités à marseille    */

#activites_a_marseille
{
    margin-top: 53px;
    width: 1328px;
    height: 500px;
   margin-left: 0px;
}

#activites_titre
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.3em;
    margin-bottom: 23px;
}

#activites_images
{
    display: flex;
    justify-content: space-between;
}

.image_3
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 388px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.image_4
{
    background-size: cover;
    background-position: center;
    width: 297px;
    height: 214px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.image_5
{
    background-size: cover;
    background-position: center;
    width: 297px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image_6
{
    background-size: cover;
    background-position: center;
    width: 297px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image_7
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.image_8
{
    background-size: cover;
    background-position: top;
    width: 297px;
    height: 156px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.nom_activites
{
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
    left: 15px;
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1em;
    color: black;
}

#vieux_port
{
    height: 434px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

#fort
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

#frioul
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}
#calanques
{
    height: 434px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

#notre_dame
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

#longchamp
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px #d6d5d5;
}

#colonne_2, #colonne_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 434px;
}

/*  footer  */

footer
{
    display: flex;
    background-color: #f2f2f2;
    margin-left: -55px;
    margin-top: 65px;
    padding-left: 52px;
    padding-top: 25px;
    width: 1380px;
    height: 190px;
}

section
{
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
}

h3
{
    font-family: 'raleway-bold','raleway',serif;
    font-size: 1.1em;
}

footer a
{
    text-decoration: none;
    color: black;
}

#a_propos
{
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    color: black;
    height: 150px;
    font-style: normal;
}

#nos_hebergements
{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 220px;
    height: 150px;
    line-height: 1.2em;
    color: black;
}

#assistance
{
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
    left: 520px;
    height: 150px;
    line-height: 1.2em;
}

@media only screen and (max-width: 600px) 

{
    header {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    header .logo_reservia 
    {
        order: 1;
    }

    header nav 
    {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header .inscription {
        order: 2;
        padding-top: 15px;
    }
 
    body
    {
        width: auto;
        max-width: 420px;
        height: 5000px;
        padding: auto;
    }

    #bloc_rechercher 
    {
          
        position: relative;
        left: 0px;
        top: 60px;
    }  
      
    #hebergement
    {
        position: relative;
        left: -150px;
        top: 50px;
        padding-right: 55px;
        padding-left: 50px;
        margin-right: 0px;
        padding-bottom: 15px;
        width: 210px;
        border-bottom: 3px solid #f2f2f2;
    }

    #activites
    {
        position:relative;
        left: -150px;
        top: 50px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 15px;
        margin-left: 0px;
        width: 210px;
        border-bottom: 3px solid #f2f2f2;
    }
    
    #inscription
    {
        position: relative;
        left: -260px;
        top: 0px;
    }
    
    #hebergement:hover, #activites:hover
    {
        border-bottom: 3px solid #0065fc;
        border-top: white;
        color: #0065fc;
        padding-bottom:15px; 
    }
    
    #bloc_rechercher 
    {         
        position: relative;
        left: 0px;
        top: 60px;
    }  
    
    #titre
    {
        text-align: left;
        width: 380px;
    }

    .bouton_rechercher
    {
        width: 50px;
        border-radius: 15px;
        display: none;
    }
    
    .bouton_rechercher_2
    {
        display: inline;
    }

    #zone_filtre
    {
        width: 300px;
        flex-direction: column;
        text-align: justify;
    }
    
    #infos
    {
        position: relative;
        left: 0px;
        top: 0px;
        width: 350px;
    }     
    
    aside
    {
        position: relative;
        left: -900px;
        
        padding-left: 20px;
        padding-right: 20px;       
    }    
    
    #Hebergement_a_marseille
    {
        position: relative;
        left: 0px;
        top: 650px;
        height: 1550px;
        background-color: white;
    }
    
    #Hebergements
    {
          position: relative;
          left: -20px;
    }
    
    #ligne1
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 370px;
        height: 700px;
    }
    
    #ligne2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        height: 700px;
        margin-top: -30px;
    }

    .image
    {  
        background-size: cover;
        background-position: center;
        width: 360px;
        height: 112px;
        margin-bottom: 0px;   
    }
    .image_3, .image_4, .image_5, .image_6, .image_7, .image_8
    {  
        background-size: cover;
        background-position: center;
        width: 381px;
        height: 130px;
        margin-bottom: 0px;   
        background-position: center;
    }
    
    #vieux_port, #fort, #frioul, #calanques, #notre_dame, #longchamp
    {
        height: 180px;
    }
    
    #activites_a_marseille
    {
        margin-left: 15px;
    }
    
    #activites_titre
    {
        position: relative;
        left: 0px;
        top: 700px;
    }
    
    #activites_images
    {
        position: relative;
        left: 0px;
        top: 740px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 381px;
        height: 1300px;
    } 
    
    #colonne_2, #colonne_4
    {
        height: 400px;
    }
      
    footer
    {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        position: relative;
        left: 0px;
        top: 1550px;
        margin-left: 0px;
        padding-left: 20px;
        width: 390px;
        height: 500px;
    } 

    #nos_hebergements
    {
        position: relative;
        left: 0px;
        top: 20px;
    }
    
    #assistance
      {
        position: relative;
        left: 0px;
        top: 10px;
      }
}
    